.wrapper{background-color:skyblue;
width: 60%;
margin:0 auto;
border:5px dotted #add;
padding: 10px}
.first_name{background-color: pink;
	width: 90%;
height:20px;
padding: 10px}
.last_name{background-color: pink;
	width: 90%;
height:20px;
padding: 10px}
.email{background-color: pink;
	width: 90%;
height:20px;
padding: 10px}
.message{background-color: orange;}